@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #78ff5d;
    --color1: #ebffea;
    --color2: #09692e;
    --darkgreen: #0f2e2c;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #0f2e2c;
    overflow: overlay;
    overflow-x: hidden;
    height: 200vh;
}

/* Navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    padding: 10px 5px;
    z-index: 99;
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    /* background: rgba(9, 106, 46, 0.5); */
    background: rgba(15, 46, 44, 0.5);
}

nav.sticky {
    z-index: 4;
    padding: 3px 5px;
    /* background: rgba(9, 106, 46, 0.5); */
    background: rgba(15, 46, 44, 0.5);
    backdrop-filter: blur(3px);
}

nav img {
    margin-left: 20px;
}


nav ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-bottom: 0px;
}

nav ul li {
    position: relative;
    list-style: none;
}

nav ul li a {
    position: relative;
    margin: 0 2px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    overflow: hidden;
    display: inline-block;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

nav ul li a::before {
    background-color: #C0EBA6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    
}

nav ul li a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #C0EBA6;
}

nav ul li a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

nav ul li a:hover::after {
    transform: translate3d(0, 0, 0);
}

nav.sticky img,
nav.sticky ul li a {
    color: #fff;
}

.menu-toggle {
    display: none;
}

/* navbar end */

.main-banner {
    background-color: rgba(0, 0, 0, 0.468);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

.main-banner h1 {
    font-size: 3.5rem;
    z-index: 2;
    font-weight: bold;
}

.main-banner a {
    z-index: 2;
    margin-top: 40px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 60px;
    border-radius: 20px;
    font-size: 1rem;
    transition: 0.8s;
}

.main-banner a:hover {
    scale: 1.05;
    background-color: rgba(255, 255, 255, 0.152);
}

.main-banner p {
    z-index: 2;
    margin-top: 20px;
    font-size: 1rem;
}

.banner {
    background-attachment: fixed;
    background-image: url(images/image.jpg);
    background-position: center;
    background-size: cover;
    color: #f8f9ff;
    height: 100vh;
    text-align: center;
    font-size: 1.7rem;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* page 2 */

.masalah{
    padding: 8rem 7% 1.4rem;
    margin-bottom: 10vh;
    color: var(--color1);
}

.masalah h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.masalah h2 span {
    color: var(--primary)
}

.masalah .row {
    display: flex;
}

.masalah .row .masalah-img {
    flex: 1 1 45rem;
}

.masalah .row .masalah-img img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.masalah .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.masalah .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.masalah .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
}

/* Halaman ketiga */
/* Solusi Utama Section */
#solusi {
    background-color: var(--color1);
    padding: 100px 20px;
    text-align: center;
}

#solusi h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #2c3e50;
}

#solusi h2 span {
    color: #e74c3c;
}

/* Section 3 - QUOTES */
.quote {
    padding: 150px 0px;
    text-align: center;
    color: var(--color1);
}

.quote-main {
    width: 850px;
    padding: 90px;
    box-sizing: border-box;
    /* border: 1px solid;
    border-radius: 10px; */
    margin: auto;
}

blockquote {
    font-size: 2rem;
    font-weight: bold;
}

.quote p {
    font-style: italic;
}

/* Section 4 - BERITA */
  .environmental-news {
    padding: 60px;
    background-color: var(--color1);
    color: var(--darkgreen);
  }
  .environmental-news h2 {
    margin-bottom: 20px;
  }
  .environmental-news h2 span {
    color: #e74c3c;
  }
  
  .news-article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .news-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .news-article h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .read-more {
    color: var(--color2);
    text-decoration: none;
  }
  
  .read-more:hover {
    color: #2c9b2e;
  }
  
  .news-meta {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  
  .news-meta a {
    color: var(--color2);
    text-decoration: none;
  }
  
  .news-meta a:hover {
    color: #2c9b2e;
  }
  
  .load-more {
    background-color: var(--darkgreen);
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
  }
  
  .load-more:hover {
    background-color: var(--color2);
  }

/* Footer */
footer {
    color: white;
    background-color: #091d19;
}

.footer-logo {
    display: grid;
}

.footer-main {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

footer ul li {
    list-style: none;
    line-height: 30px;
}

.footer-navigation ul li a {
    margin-left: -30px;
    color: #dfdfdf;
    text-decoration: none;
    letter-spacing: 2px;
    transition: all .5s;
}

.footer-contact ul li a {
    margin-left: -30px;
    color: #dfdfdf;
    text-decoration: none;
    transition: all .5s;
}

footer ul li a:hover {
    color: white;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.29);
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    /* Navbar */

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 40%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        backdrop-filter: blur(3px);
        z-index: 2;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        opacity: 0;
    }

    nav ul.slide {
        z-index: -2;
        background: rgba(0, 0, 0, 0.8);
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    nav ul.slide {
        transform: all 1s;
        -webkit-transform: all 1s;
        -moz-transform: all 1s;
        -ms-transform: all 1s;
        -o-transform: all 1s;
    }

    /* Hamburger Menu */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-around;
        position: relative;
        margin-right: 10px;
        z-index: 99;
    }


    .menu-toggle input {
        display: block;
        position: absolute;
        width: 40px;
        height: 28px;
        left: -3px;
        top: -3px;
        opacity: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
    }

    .menu-toggle span {
        display: flex;
        width: 28px;
        height: 3px;
        background-color: #C0EBA6;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }

    .menu-toggle span:nth-child(2) {
        transform-origin: 0 0;
    }

    .menu-toggle input:checked~span:nth-child(2) {
        background-color: white;
        transform: rotate(45deg) translate(-1px, -1px);
        -webkit-transform: rotate(45deg) translate(-1px, -1px);
        -moz-transform: rotate(45deg) translate(-1px, -1px);
        -ms-transform: rotate(45deg) translate(-1px, -1px);
        -o-transform: rotate(45deg) translate(-1px, -1px);
    }

    .menu-toggle span:nth-child(4) {
        transform-origin: 0 100%;
    }

    .menu-toggle input:checked~span:nth-child(4) {
        background-color: white;
        transform: rotate(-45deg) translate(-1px, 0);
        -webkit-transform: rotate(-45deg) translate(-1px, 0);
        -moz-transform: rotate(-45deg) translate(-1px, 0);
        -ms-transform: rotate(-45deg) translate(-1px, 0);
        -o-transform: rotate(-45deg) translate(-1px, 0);
    }

    .menu-toggle input:checked~span:nth-child(3) {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    /* Navbar end */

    /* Banner Responsive */
    .main-banner h1 {
        font-size: 2rem;
    }

    .main-banner p {
        font-size: 0.8rem;
    }
    /* Banner End */

    /* Section 3 QUOTE */
    .quote {
        padding: 0px;
    }
    
    .quote-main {
        width: 100vw;
        padding: 150px 20px;
        box-sizing: border-box;
        /* border: 1px solid;
        border-radius: 10px; */
        margin: auto;
    }
    
    blockquote {
        font-size: 1.5rem;
        font-weight: bold;
    }
    /* Section 3 END */

    /* Footer Responsive */
    .footer-main {
        padding: 50px;
    }

    .footer-main {
        flex-direction: column;
    }

    .footer-contact,
    .footer-copyright {
        margin-top: 50px;
    }
    /* Footer End */
}

/* Responsive end */
